body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    padding: 0 2vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: burlywood;
}

.header-link{
    display: flex;
    list-style: none;
    justify-content: center;
    align-self: center;
    padding: 16px;
}

.header-link a{
    padding: 20px ;
}

.header-link a:hover, a:active{
    background-color: darksalmon;
    color: white;
}

.header img{
    height: auto;
    width: 13vh;
}

.title{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.header-link a{
    color: black;
    text-decoration: none;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 32px 0;
    background-color: honeydew;
    width: 100%;
}

.info-text{
    padding: 8px;
    width: 500px;
}

.info-pic img{
    height: 200px;
    border: 4px solid black;
    border-radius: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: cornsilk;
    width: 100%;
}

.info h2{
    display: flex;
    justify-content: center;
    align-self: center;
}

.info img{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 20px;
}

.container-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    display: block;
    width: 200px;
    text-align: center;
    margin: 12px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: lavender;
    padding: 50px 125px;
    padding-bottom: 10px;
    font-size: 25px;
}

.quote p{
    text-align: end;
    font-size: 20px;
}

.sign-up-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 50px;
}

.sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10vh;
    max-width: 150vh;
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: azure;
}

.sign-up button{
    flex: 1;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    transition-duration: 0.2s;
}

.sign-up button:hover{
    background-color: greenyellow;
    color: white;
}

.footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: antiquewhite;
}